
* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}
.card-header-img{
    display: flex;
    justify-content:end;
    justify-content: left;
    width: 3566px;
    height: 700px;
    margin-top: -140px;
    
}
// .btn{
//     background-color: black;
//     color: black;
// }



// @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);

$fontSans : 'Montserrat', sans-serif;
$fontSerif : 'Droid Serif', serif;


@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
*{ box-sizing:round($number: 110);
}



body {
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-family: $fontSerif;
 
}
 img {
   max-width:104%;
 }
 .responsive{
  width: 5530px;
  margin-left: 400px;

 }
.cf:before,.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}


// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }


.lead-l{
  // font-size: 1.82em;
  // // color: $dark;
  // font-weight: 50;
  // margin-top: -5px;

  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;  
}

h4{
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;  
  word-spacing: -2px;
}

h6{
  // font-size: 2.2em;
  // // color: $dark;
  // font-weight: 1000;
  // margin-top: -5px;
  color: rgb(214, 238, 172);
//   font-size: 330px;
//  font-weight: 1rem;
  // width: 270px;

  letter-spacing: 1px;
  line-height: 2.6em;
  margin-right: 25px;
  text-align: justify;  
}

.col-lg-15{
  // font-size: 2.12em;
  // // color: $dark;
  // font-weight: 100;
  // margin-top: -5px;

  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;  
}

.display-6-d{
  font-size: 3.12em;
  // color: $dark;
  // font-weight: 10;
  margin-top: -5px;

  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;    
}
.image{
  height : 480px;
  width : 700px ;
  top : -20px
}
.display-5-d{
  // font-size: 2.62em;
  // // color: $dark;
  // font-weight: 10;
  // margin-top: -5px;

  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;    
}

label{
  font-weight: 10em;
  font-size: 1.10em;

}
Link{

  // text-transform: none;
  // letter-spacing: 0;
  // margin-bottom: 17px;
  // color: $dark;
  font-size: .7em;
  // line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;  
  line-height: 2.6em;
  
    
}

button{
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;  
}
// .bttn-n{
//   line-height: 1.6em;
//   margin-right: 25px;
//   text-align: justify;  
// }

.bttn{
  line-height: 2.6em;
  margin-right: 25px;
  text-align: justify;  
display: flex;

  // padding: 117;
  //   margin: 100;
    list-style: none;
}
.image-home{
  width: 5400px;

  justify-items: end;
}





















#services {
  padding: 80px 0;
}

.service-img {
  width: 100px;
  margin-top: 20px;
}

.services {
  padding: 20px;
}

.services h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}

.horizontal-line {
  content: "";
  background: #7b1798;
  height: 5px;
  width: 200px;
  margin: -50px auto 30px auto;
  display: block;
  transform: translateY(63px);
}

.horizontal-line span {
  content: "";
  background: #7b1798;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(-2.5px);
}

#services .btn-primary {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
}


btn





.circle {
  background-color:#fff;
  border:5px solid rgb(160, 136, 136);    
  height:100px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:100px;
}













